@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar {
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 10;
    z-index: 1000;
    display: flex;
    justify-content: space-between; /* Aligns the logo and the navbar items */
    align-items: center; 
    border-radius: 8px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    margin-top: 5px;
    padding: 5px 10px;
    display: flex;
    border-radius: 8px;
    border: 2px solid #F3E9D2;
    text-decoration: none;
    font-size: larger;
    color: #1A936F;
    transition: color 0.2s;
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}

.navbar ul li a.active  {
    color: #88D498;
}

.navbar ul li a:hover {
    color: #88D498;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.navbar .logo img {
    height: 50px; /* Adjust the size of the logo */
    width: auto;
    margin-left: 40px;
    border-radius: 8px;
}
.section {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.container {
    width: 85%;
    display: block;
    margin: auto;
    padding-top: 20px;
}

.section-content {
    float: left;
    width: 55%;
}

.image {
    float: right;
    width: 40%;
}

.image img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.section-content .title h1 {
    text-transform: uppercase;
    font-size: 75px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: #000;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}

.section-content .text h3{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 29px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #000;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}

.section-content .text p {
    font-size: 25px;
    margin-top: 18px;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
}

.section-content .contact h2 {
    margin-top: 50px;
    font-size: 50px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: #000;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}

.section-content .mail {
    display: flex;
    align-content: center;
}

.section-content .mail i {
    margin-top: 10px;
    font-size: 50px;
    color: #1A936F;
    box-shadow: 0px 4px 8px (0 ,0, 0, 0.2);
}

.section-content .mail p {
    margin: 0;
    margin-left: 7px;
    margin-top: 21px;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: #000;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

@media screen and (max-width: 768px){
    .container {
        width: 85%;
        display: block;
        margin: auto;
        padding-top: 20px;
    }
.section-content {
        float: none;
        width: 100%;
}
.image {
    float: none;
    width: 100%;
}
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.section-content {
    animation: fadeIn 1s ease-in-out;
}

.image {
    animation: fadeIn 1s ease-in-out;
}

.navbar-account{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: auto; 
    margin-bottom: 50px;
}


.navbar-account a{
    margin-top: 5px;
    padding: 5px 10px;
    display: flex;
    border-radius: 8px;
    border: 2px solid #F3E9D2;
    text-decoration: none;
    font-size: larger;
    color: #1A936F;
    transition: color 0.2s;
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}

.navbar-account a.active{
    color: #88D498;
}

.navbar-account a:hover{
    color: #88D498;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.auth-btn {
    position: absolute;
    text-align: center;
    display: flex;
    margin-left: 50%;
}

.navbar-account #logOutPage {
    display: none;
}

.navbar-account #loginPage {
    display: none;
}